Data/*
*.Rproj
!Data/Crosswalk
Code/.Rhistory*
*.model
*.Rdata*
*.DS_Store*
Output/*Data/*
Output/*Data/*
Output/*Data/*
Output/*Data/*
Output/*Data/*
Output/*Data/*
Output/*Data/*
Output/*
Code/raw*
.Rproj.user
